# Comparing the model metrics

The purpose of this notebook is to compare metrics from the models. For now, the models that will be compared are the ones trained on data from dataset 1.

In [ ]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt
import json
import glob

# Adjust display settings
pd.set_option("display.max_columns", None)
%matplotlib inline

In [ ]:
# Load metrics and put into dataframe

results = []

for path in sorted(glob.glob("../data/results/metrics_*.json")):
    with open(path, "r") as f:
        results.append(json.load(f))

df = pd.DataFrame(results)

df

                      Model       MSE  R-Squared
0         Own with batch GD  0.009868   0.999999
1  sklearn LinearRegression  0.009819   0.999999